/* Weather.css */
.container {
  max-width: 100%;
  margin: 20px auto;
  padding: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #fff;
}

.card {
  margin: 10px 0;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.card-body {
  padding: 10px;
}

.weather-details p {
  margin: 5px 0;
}

/* Responsive design */
@media (max-width: 768px) {
  .row {
    flex-direction: column;
  }

  .col-md-4 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .search-input,
  .search-button,
  .location-button {
    width: 100%;
    margin-top: 5px;
  }
}

.img-fluid {
  max-width: 100%;
  height: auto;
}
